<!DOCTYPE html>
<div>
	<div>
		<h3>Food</h3>
		<table>
			<% places.forEach(function(place){%>
				<% if(place.placeType == "restaurants"){%>
					<tr>
						<td>
							<div><%=place.placeName%><div>
							<div><%=place.ratings%><div>
						</td>
						<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
					</tr>
				<%};%>
			<%});%>
		</table>
	</div>
	<div>
		<h3>Drinks</h3>
		<table>
			<% places.forEach(function(place){%>
				<% if(place.placeType == "Bars"){%>
					<tr>
						<td>
							<div><%=place.placeName%><div>
							<div><%=place.ratings%><div>
						</td>
						<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
					</tr>
				<%};%>
			<%});%>
		</table>
	</div>
	<div>
		<h3>Night Life</h3>
		<table>
			<% places.forEach(function(place){%>
				<% if(place.placeType == "nightclubs"){%>
					<tr>
						<td>
							<div><%=place.placeName%><div>
							<div><%=place.ratings%><div>
						</td>
						<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
					</tr>
				<%};%>
			<%});%>
		</table>
	</div>
	<div>
		<h3>Experience</h3>
		<table>
			<% places.forEach(function(place){%>
				<% if(place.placeType == "attractions"){%>
					<tr>
						<td>
							<div><%=place.placeName%><div>
							<div><%=place.ratings%><div>
						</td>
						<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
					</tr>
				<%};%>
			<%});%>
		</table>
	</div>
	<div>
		<h3>Accomodation</h3>
		<table>
			<% places.forEach(function(place){%>
				<% if(place.placeType == "hotels"){%>
					<tr>
						<td>
							<div><%=place.placeName%><div>
							<div><%=place.ratings%><div>
						</td>
						<td><img class="tLipRb" style="border:0;left:0px;position:relative;top:0px;border-radius:8px" height="90"  src="<%=place.thumbnails%>" width="90"></td>
					</tr>
				<%};%>
			<%});%>
		</table>
	</div>
</div>